* {
    padding: 0;
    margin: 0;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: url(../images/binary-code.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

main {
    flex: 1 0 auto
}

.header {
    padding: 5px;
    text-align: center;
    background: darkgray;
    color: #fff;
    font-size: 20px
}

#center-box {
    position: relative;
    margin: 25% auto;
    height: 400px;
    width: 600px;
    background: rgb(88, 146, 170);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.left-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    width: 190px;
    height: 400px;
    background: rgb(88, 146, 170);
}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 10px 5%;
    width: 410px;
    height: 400px;
    background-color: darkgray
}

input[type="email"], input[type="password"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: darkgray;
    color: #fff;
    text-align: center
}

.namelogo {
    font-size: 300%;
    transform: translate(-105%, 100%);
    text-align: center;
    color: black;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.imagelock {
    width: 50%;
    padding: 0 25%;
    transform: translate(-105%, 100%);
}