.header {
    padding: 5px;
    background: hsl(0, 0%, 90%);
    color: white;
    font-size: 20px;
    text-align: left;
    }

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
    background: hsl(0, 0%, 90%);
    color: white;
}

a:visited {
    color: #008CBA;
}

* {
    padding: 0;
    margin: 0;
    line-height: 150%;
    text-align: center;
    width: 100%;
    text-shadow: 0 2px 4px  hsl(0, 0%, 80%);
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    background: url(../images/binary-code.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

main {
    flex: 1 0 auto;
}

#center-box {
    position: relative;
    margin: 25% auto;
    height: 400px;
    width: 600px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.right-box {
    top: 0;
    right: 0;
    position: absolute;
    height: 100%;
    width: 70%;
    background: hsl(0, 0%, 90%);
}

.right-box-inside {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 80%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.left-box {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 30%;
    background: #008CBA;
}

.left-box-inside {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Bloco adaptado internet https://www.sanwebe.com/2014/08/css-html-forms-designs */

/* Informacao para exececao https://css-tricks.com/styling-texty-inputs-only/ */

input:not([type=button]):not([type=checkbox]) {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
    text-align: left;
}

/* Botao esta com borda estranha */

.button {
    background-color: #008CBA;
    border-radius: 10px;
    width: 100%;
    color: white;
    padding: 2% 5%;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.namelogo {
    color: white;
    text-shadow: none;
    font-size: 30px;
}

.imagelock {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}