<div class="content">
    <div class="container">
    <header>
        Acelera Theos
    </header>
    <form [formGroup]="formConta" class="form-group" (ngSubmit)="onSubmit()">
        <p>Acesso ao sistema</p>
        <label for="labelEmail">* E-mail</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Seu endereco de e-mail" maxlength="200" formControlName="email">
        <label for="labelSenha">* Senha</label>
        <input type="password" class="form-control" id="senha" aria-describedby="senhalHelp" placeholder="Sua senha" maxlength="50" formControlName="senha">
        <button type="button" (click)="validaCampos()" class="btn btn-primary btn-lg">Login</button>
    </form>
    <footer>* Campos obrigatorios</footer>
</div>
</div>