<div class="content">
    <div class="container">
        <div class="row mt-48">
            <div class="col-12">
                <img src="../../../assets/img/logo_eclesial_login.svg" class="mx-auto d-block" width="216"
                    title="logo_eclesial" alt="logo_eclesial">
            </div>
        </div>
        <div class="row mt-32">
            <div class="col-12 ">
                <form class="form mx-auto">
                    <div class="row mb-3">
                        <div class="col-12">
                            <p class="recover-msg">Informe seu email abaixo. Enviaremos um email para recuperar sua
                                senha.</p>
                        </div>
                    </div>
                    <div class="row mb-3 w-100">
                        <div class="col-12 px-0">
                            <input class="login-ipt" type="email">
                        </div>
                    </div>
                    <div class="row mb-3 w-100">

                        <div class="col-3">
                            <button type="button" [routerLink]="['/']"
                                class="recover-btn-back">
                                <p class="mt-3"><</p>
                            </button>
                        </div>

                        <div class="col-6">
                            <button type="button" [routerLink]="['/home']"
                                class="login-btn">
                                Recuperar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row justify-content-center mt-3">
            <div class="col-12 text-center">
                <span class="copyright">
                    2019 © Theòs Sistemas Eclesiais - Todos os direitos reservados.
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <span class="version">
                    v8.1.41.0
                </span>
            </div>
        </div>
    </div>
</div>