<div class="content">
    <img src="src\assets\image\logo_eclesial_login.svg">
    <div class="container">
        <form>
            <div class="p-l-45 p-r-45 p-t-25 p-b-20">
                <div class="form-group">
                    <label for="email">Endereco de e-mail</label>
                    <input type="email" class="form-control" id="email" placeholder="Se e-mail">
                    <label for="password">Senha</label>
                    <input type="password" class="form-control" id="password" placeholder="Sua senha">
                    <button type="button" class="btn btn-primary">Entrar</button>
                </div>
            </div>
        </form>
    </div>
</div>